@use '../variables' as *;

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 4rem;

  p {
    margin: 0;
    font-size: 0.875rem;
  }

  a {
    display: flex;
    align-items: center;
    color: white;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
