@use '../variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.icon {
  display: flex;
  align-items: center;
  color: $primary;
}

.header-btn {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: transparent;
  color: white;

  &:hover {
    opacity: 0.9;
  }
}

.btn-container {
  display: flex;
  gap: 1rem;
}
