@use '../variables' as *;

.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $primary;
  color: white;
  max-height: 4rem;
}

.header h1 {
  @media (max-width: 600px) {
    display: none;
  }
}
