@use '../variables' as *;

.header-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  background: white;
  color: $primary;
  border: none;
  cursor: pointer;
  display: flex;
  margin: 1rem auto;

  &:hover {
    opacity: 0.9;
  }
}
