name: Formatting Check
on:
  pull_request:
  push:
    branches:
      - main
permissions: {}
jobs:
  prettier:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
      - run: |
          npm ci
          npx prettier . --check
